
option_settings:
 - namespace : aws:elasticbeanstalk:container:python
   option_name: WSGIPath
   value: scripts/wsgi.py
 - namespace : aws:elasticbeanstalk:container:python:staticfiles
   option_name: "/static/"
   value: "static/"

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

